
# Dependency directories
node_modules/
bower_components/

# Build directories
dist/
build/

# IDE and editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
